<ion-header>

    <ion-navbar color="primary">
        <ion-title></ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-fab top right edge>
        <button ion-fab mini (click)="getSurveyResults()" color="danger"><ion-icon name="list-box"></ion-icon></button>
    </ion-fab>
    <survey [survey]="survey"></survey>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
      
    </ion-toolbar>
</ion-footer>
