page-home {
  h2 {
    color: black;
  }

  h5 {
    display: flex;
    color: #ccc;
    width: 100%;
    margin-top: .2em!important;
  }
  h5::before,
  h5::after {
    content: "";
    flex:1;
    align-self: center;
    border-bottom: 1px solid #ccc;
  }
  h5::before {margin-right: .3em}
  h5::after {margin-left: .3em}

  .error-message {
    background-color: map-get($colors, danger);
    color: #fff;
    border: 1px solid #c0392b;
    padding: 10px;
  }

  a, ion-buttons {
    color: white;
  }
}
