<ion-header>

    <ion-navbar color="primary">
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            Bienvenido
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="openLogin()">
                <ion-icon name="ios-key"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    
    <h5>Encuestas disponibles</h5>
    <ion-list>
        <ion-item-sliding *ngFor="let survey of surveys; let i = index" #slidingItem>
            <ion-item tappable (click)="selectedSurvey(survey)">
                <ion-thumbnail item-start>
                    <img [src]="survey.Image">
                </ion-thumbnail>
                <h2>{{survey.Name}}</h2>                
            </ion-item>
            
        </ion-item-sliding>
    </ion-list>

    <p class="error-message" *ngIf="noSurveys">No se pudieron cargar las encuestas. Por favor verifique su conexión a Interenet o inténtelo más tarde.</p>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">

    </ion-toolbar>
</ion-footer>
