<!--
  Generated template for the IniciarSesionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="">
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content color="fondo" class="contenedor_login">
  <ion-card>
    
      <ion-card-header>
        Iniciar sesión
      </ion-card-header>
    
      <ion-card-content>
        <!-- Add card content here! -->
    
  <ion-list>
    
      <ion-item class="imput">
        
        <ion-input [(ngModel)]="user.email" name="email" type="text" value="" placeholder="Correo electrónico"></ion-input>
    
      </ion-item>
    
      <ion-item class="imput">
        
        <ion-input [(ngModel)]="user.password" name="password" type="password"
         placeholder="No° unico de control de trabajo"></ion-input>

      </ion-item>

      <button ion-button full large (click)="Login()" type="submit">Iniciar</button>
      <button ion-button small round color="light" (click)="SignUp()" type="submit">Registrarse</button>
  
    </ion-list>
  </ion-card-content>
  </ion-card>
</ion-content>

