page-iniciar-sesion {

        .boton{
            font-size: 20px;
            text-transform: initial !important;
            height: 70px;
            width: 200px;
            font-weight: 100;
            letter-spacing: 2px;
            margin-top: 35px;
        }
        & ion-card-header{
            text-align:  center;
            padding-bottom: 50px !important;
            color: #fff !important;
            font-size: 30px !important;
            font-weight: 100;
            letter-spacing: 2px;
        }
        & ion-card-content{
            text-align:  center;
            padding-bottom: 40px;
        }
        & ion-card{
            margin-top: 10px !important;
            align-content: center!important;
            align-items: center!important;
            vertical-align: middle;
            //margin-left: 50px !important;
            margin-right: 50px !important;
            background-color:  #007d9b !important;
        }
        ion-content{
           background-color: #007d9b!important; 
        }
        & ion-item{
            border-top: 0px !important;
        }
        .imput{
            background-color: #007d9b !important;
            color: #ffff !important;
            margin-bottom: 30px;
            font-size: 20px !important;
        }
        input::-webkit-input-placeholder {
            color:    blue;
          }
          input::-webkit-input-placeholder { 
            text-indent: 0; 
            color: red; 
            }
          input::-moz-placeholder {
            color: red;
            }
            
            input:-ms-input-placeholder {
            color: red;
            }
    
    }
