<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Resultados" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Registrar Usuario" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Cerrar Sesión" tabIcon="information-circle"></ion-tab>
</ion-tabs>